/* -------------------------------------------- */
/* CSS Reset Styles                             */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* -------------------------------------------- */
/* General Styles                               */
/* -------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 8rem;
  text-decoration: underline wavy #F43F5E;
  text-underline-offset: 12px;
}

h4 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 50px;
}

h5 {
  font-size: 2.1rem;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  text-decoration: underline wavy #F43F5E;
  text-underline-offset: 7px;
  margin-bottom: 10px;
}

h6 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

/* Underline animation styles */
a {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

/* Underline animation styles: Fade in */
a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #F43F5E;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

/* Underline animation styles: Slide in */
a {
	overflow: hidden;
}

a::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

a:hover::after,
a:focus::after{
	transform: translate3d(0, 0, 0);
}


/* -------------------------------------------- */
/* Header Styles                                */
/* -------------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 90px;
}

nav {
  display: flex;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 2.1rem;
}


/* -------------------------------------------- */
/* Hero Section Styles                          */
/* -------------------------------------------- */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 23px 30px rgba(171, 236, 214, 0.2);
    border-radius: 44px;
    padding: 60px 65px;
    margin-inline: 90px;
}

.memoji-hero {
  width: 250px;
}

.hello-phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.hero-section p {
  font-size: 4rem;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 42px;
}

.hero-section span {
  background: linear-gradient(105.28deg, #40C4FF 36.75%, #189FFF 82.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1.8rem;
}

.hero-cv-btn {
  text-decoration: none;
  color: inherit;
}

.hero-contact-btn {
  padding: 8px 36px;
  background: #111827;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  border: none;
}


/* -------------------------------------------- */
/* Projects Section Styles                      */
/* -------------------------------------------- */

/* General */

.projects-section {
  margin-top: 70px;
  margin-bottom: 80px;
  margin-inline: 90px;
}

/* Section Heading */

.projects-sec-heading {
  display: flex;
  gap: 20px;
}

.sparkles-icon {
  width: 60px;
  height: 60px;
}

/* Projects List */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Project Card */

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  border: 1px solid #000;
  margin-top: 30px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 23px 30px rgba(17, 24, 39, 0.2);
}

.tech-tag {
  padding: 6px 12px;
  line-height: 1;
  border-radius: 32px;
  color: #fff;
}

.tech-tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.project-SS {
  border-radius: 10px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-SS img {
  width: 80%;
}

.project-links {
  display: flex;
  gap: 35px;
}

.project-links a {
  text-decoration: none;
  color: inherit;
}


/* -------------------------------------------- */
/* About Me Section Styles                      */
/* -------------------------------------------- */

.about-me-section {
  margin-bottom: 70px;
  margin-inline: 90px;
}

.about-me-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.about-me-details p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
}

.about-me-col-1 {
  flex-basis: 57%;
  flex-shrink: 1;
}

.about-me-col-1 p {
  margin-top: 30px;
}

.skills-and-tools {
  margin-top: 60px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 25px;
}

.tech-logo {
  width: 100px;
  height: 100px;
  box-shadow: 0px 9.12096px 9.12096px rgba(8, 163, 230, 0.1), 0px 9.12096px 9.12096px rgba(7, 126, 218, 0.2);
  border-radius: 30px;
}

.about-me-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  flex-basis: 35%;
  flex-shrink: 1;
}

.memoji-about {
  max-width: 240px;
}

.fun-fact-card, .fun-fact-card-small-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  padding: 20px;
  border: 4px solid #000;
  border-radius: 20px;
  gap: 20px;
  background-color: #F3F4F6;
}

.fun-fact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bangers', cursive;
  gap: 15px
}

.fun-fact-heading h5 {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
}

.cowboy-face-icon {
  width: 50px;
}

:where(.fun-fact-card, .fun-fact-card-small-screen) p {
  font-size: 1.8rem;
}

:where(.fun-fact-card, .fun-fact-card-small-screen) a {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  color: #4D5150;
  text-decoration: underline;
}

.fun-fact-card-small-screen {
  display: none;
}


/* -------------------------------------------- */
/* Footer Styles                                */
/* -------------------------------------------- */

footer {
  background: #111827;
  color: #fff;
  padding: 60px 90px;
  border-radius: 40px 40px 0px 0px;
}

footer p {
  font-size: 2.1rem;
  font-weight: 400;
  padding: 0;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catchy-phrase {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rocket-icon {
  width: 40px;
  height: 40px;
}

address {
  margin-top: 30px;
}

address a {
  font-size: 2.1rem;
  color: inherit;
  font-style: normal;
}

.email {
  all: unset;
  font-size: 2.1rem;
  color: inherit;
  font-style: normal;
  cursor: pointer;
  text-decoration: underline;
}

.social-icon {
  font-size: 4rem;
}

.social-icons-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.contact-img {
  flex-basis: 40%;
  max-width: 250px;
}


/* ------------------------------------------------------ */
/* Responsiveness Styles - For screen widths below 967px  */
/* ------------------------------------------------------ */

/* First Breakpoint - below 967px */
@media only screen and (max-width: 967px) {

  h1 {
    font-size: 4rem;
  }

  nav {
    gap: 30px;
  }

  nav a {
    font-size: 1.8rem;
  }

  .about-me-col-1 {
    flex-basis: 100%;
    order: 2;
  }

  .about-me-col-2 {
    order: 1;
    flex-direction: row;
    flex-basis: 100%;
  }

  .about-me-section h2 {
    margin-bottom: 30px;
  }

  .about-me-details {
    gap: 30px;
  }
}

/* Second Breakpoint - below 835px */
@media only screen and (max-width: 835px) {

  h2 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  .hello-phrase {
    flex-direction: column;
    gap: 30px;
  }

  .hello-phrase h3 {
    order: 2;
    font-size: 7rem;
  }

  .hero-section p {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .about-me-details {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .fun-fact-card {
    display: none;
  }

  .fun-fact-card-small-screen {
    display: flex;
    max-width: 100%;
    margin-top: 30px;
  }

  .fun-fact-card-small-screen p {
    margin: 0;
  }

}

/* Third Breakpoint - below 760px */
@media only screen and (max-width: 760px) {
  h1 {
    font-size: 3rem;
  }

  nav {
    gap: 20px;
  }

  nav a {
    font-size: 1.6rem;
  }

  .memoji-hero {
    width: 200px;
  }

  .hello-phrase h3 {
    font-size: 5rem;
  }

  .hero-section p {
    font-size: 2.5rem;
  }

  .hero-buttons {
    font-size: 1.6rem;
  }

  .skills-and-tools {
    margin-top: 40px;
  }

  footer p {
    font-size: 1.8rem;
  }

  .catchy-phrase {
    gap: 10px;
  }

  .email {
    font-size: 1.8rem;
  }

  .social-icon {
    font-size: 3rem;
  }
}

/* Fourth Breakpoint - below 650px */
@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
    margin: 15px 60px;
  }

  h1 {
    font-size: 3.5rem;
  }

  nav {
    gap: 35px;
  }

  nav a {
    font-size: 1.8rem;
  }

  .hero-section {
    margin-inline: 60px;
    padding: 40px 45px;
 }

 
 .projects-section {
    margin-inline: 60px;
 }
 
 .about-me-section {
    margin-inline: 60px;
 }
 
 footer {
    padding: 60px 60px;
 }
}

/* Fifth Breakpoint - below 546px */
@media only screen and (max-width: 546px) {
  
  h2 {
    font-size: 3rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .sparkles-icon {
    width: 50px;
    height: 50px;
  }

  .projects-sec-heading {
    gap: 10px;
  }

  .skills-and-tools {
    margin-top: 0px;
  }
  
  .contact-img {
    max-width: 200px;
    margin-block: 30px;
  }

  .contact-details {
    flex-direction: column;
  }

  .contact-info {
    order: 2;
    align-items: center;
  }

  .social-icon {
    font-size: 3.7rem;
  }

  .social-icons-container {
    gap: 30px;
  }

}

/* Sixth Breakpoint - below 480px */
@media only screen and (max-width: 480px) {

  header {
    margin: 15px 40px;
  }

  .hero-section {
    margin-inline: 40px;
    padding: 30px 35px;
  }

  .projects-section {
    margin-inline: 40px;
  }

  .project-card {
    padding: 25px;
  }

  .project-links {
    flex-direction: column;
    gap: 10px;
  }
  
  .about-me-section {
    margin-inline: 40px;
  }
  
  footer {
    padding: 40px 40px;
  }

  .rocket-icon {
    width: 30px;
    height: 30px;
  }
    
  .tech-list {
    justify-content: center;
  }
}

/* Seventh Breakpoint - below 450px */
@media only screen and (max-width: 450px) {

  h1 {
    font-size: 3rem;
  }
  
  nav {
    gap: 20px;
  }
  
  nav a {
    font-size: 1.6rem;
  }
}

/* Eighth Breakpoint - below 379px */
@media only screen and (max-width: 379px) {

  h1 {
    font-size: 2.5rem;
  }
  
  nav {
    gap: 15px;
  }
  
  nav a {
    font-size: 1.4rem;
  }

  .memoji-hero {
    width: 170px;
  }

  .hero-buttons {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  
  .projects-sec-heading {
    gap: 3px;
  }

  .sparkles-icon {
    width: 35px;
    height: 35px;
  }

  .memoji-about {
    width: 200px;
  }

  .fun-fact-card-small-screen p {
    font-size: 1.6rem;
  }

  .fun-fact-card-small-screen h5 {
    font-size: 3rem;
  }

  .cowboy-face-icon {
    width: 40px;
  }
}